<section class="l-footer">
    <div class="footer">
        <div class="footer__inner">
            <div class="footer__cols">
                <div class="footer__col">
                    <div class="footer__col-inner">
                        <div class="footer__logo">
                            <a href="/"><img src="./img/florencia-logo.png" alt=""></a>
                        </div>
                        <div class="footer__social">
                            <a href="#"><img src="./img/yt.svg" alt=""></a>
                            <a href="#"><img src="./img/whatsapp.svg" alt=""></a>
                            <a href="#"><img src="./img/vk.svg" alt=""></a>
                            <a href="#"><img src="./img/viber.svg" alt=""></a>
                            <a href="#"><img src="./img/telegram.svg" alt=""></a>
                        </div>
                        <div class="footer__phone"><a href="tel:+79107859700">+7 (910) 785-97-00</a><span>Whatsapp | Viber | Telegram</span></div>
                        <div class="footer__phone"><a href="tel:+48127679700">67–97–00</a><span>Городской</span></div>
                    </div>
                </div>
                <div class="footer__col footer__col--menu">
                    //= ./footer-menu.html
                </div>
                <div class="footer__col">
                    <div class="footer__address">
                        <strong>Адрес</strong>
                        <p>214000 г. Смоленск ул. Глинки 2а</p>
                    </div>
                    <div class="footer__address">
                        <strong>Время работы мастерской</strong>
                        <p>Ежедневно с 10:00 до 20:00 <span>(UTC/GMT +3 Moscow)</span></p>
                    </div>
                    <div class="footer__details"> ИП Возовик Вадим Васильевич <br> Cайт имеет возрастное ограничение 16+ <br> Юр. Адрес: г. Смоленск, <br> ул. Михайловская д. 10 214019 <br> ИНН 673112162824 </div>
                </div>
            </div>
        </div>
    </div>
</section>