<header class="l-header">
    <div class="header">
        <div class="header__inner">
            <div class="header__topline">
                <p>Заказы, оформленные после 19:00, доставляются на следующий день с 10.00</p>
            </div>
            <div class="header__content">
                <div class="header__logo"><a href="/"><img src="./img/florencia-logo.png" alt=""></a></div>
                <div class="header__info">
                    <span>Наш адрес</span>
                    <p>Смоленск, ул. Глинки 2А</p>
                    <ins>Бесплатная доставка</ins>
                </div>
                <div class="header__info">
                    <span>Whatsapp | Viber | Telegram</span>
                    <p><a href="tel:+79107859700">+7 (910) 785-97-00</a></p>
                    <ins><a href="#">Заказать звонок</a></ins>
                </div>
                <div class="header__social">
                    <a href="#"><img src="./img/yt.svg" alt=""></a>
                    <a href="#"><img src="./img/whatsapp.svg" alt=""></a>
                    <a href="#"><img src="./img/vk.svg" alt=""></a>
                    <a href="#"><img src="./img/viber.svg" alt=""></a>
                    <a href="#"><img src="./img/telegram.svg" alt=""></a>
                </div>
            </div>
            <div class="header__bottomline">
                <div class="header__search">
                    <div class="search">
                        <form>
                            <button></button>
                            <input type="text" placeholder="Поиск">
                        </form>
                    </div>
                </div>
                <div class="header__menu">
                    <div class="header__sandwich js-sidebar-show hide-on-desktop">
                        <span><ins></ins>Меню</span>
                    </div>
                    <!--  -->
                    <div class="menu hide-on-tablet hide-on-mobile">
                        <nav class="menu__items">
                            <div class="menu__item">
                                <span><ins></ins>Каталог</span>
                                <div class="menu__submenu">
                                    <a href="#">Букеты</a>
                                    <a href="#">Композиции</a>
                                    <a href="#">Монобукеты</a>
                                    <a href="#">Фруктовые/сладкие букеты </a>
                                    <a href="#">Букеты невесты</a>
                                    <a href="#">Мужские букеты</a>
                                </div>
                            </div>
                            <div class="menu__item">
                                <a href="#">Доставка</a>
                            </div>
                            <div class="menu__item">
                                <a href="#">Оплата</a>
                            </div>
                            <div class="menu__item">
                                <a href="#">Контакты</a>
                            </div>
                        </nav>
                    </div>
                    <!--  -->
                </div>
                <div class="header__cart">
                    <div class="cart-header">
                        <a href="#"><ins class="hide-on-mobile">Корзина</ins><ins class="hide-on-tablet hide-on-desktop">&nbsp;</ins><span>12</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>