<div class="benefits">
    <div class="benefits__title">
        <h2>Наши цветы сохраняются <br> в 3 раза дольше!</h2>
    </div>
    <div class="benefits__items">
        <div class="benefits__item">
            <div class="benefits__content">
                <div class="benefits__pic">
                    <img src="./img/benefits-1.svg" alt="">
                </div>
                <h3>Текст-рыба на русском языке</h3>
                <p>Это тестовый контент, который не должен нести никакого смысла,лишь показать наличие самого текста</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__content">
                <div class="benefits__pic">
                    <img src="./img/benefits-2.svg" alt="">
                </div>
                <h3>Текст-рыба на русском языке</h3>
                <p>Это тестовый контент, который не должен нести никакого смысла,лишь показать наличие самого текста</p>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__content">
                <div class="benefits__pic">
                    <img src="./img/benefits-3.svg" alt="">
                </div>
                <h3>Текст-рыба на русском языке</h3>
                <p>Это тестовый контент, который не должен нести никакого смысла,лишь показать наличие самого текста</p>
            </div>
        </div>
    </div>
</div>