<div class="b-form">
    <form>
        <div class="form__item">
            <div class="form__separator"><span>Доставка</span></div>
            <div class="form__inputs">
                <div class="form__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-1" placeholder=" " required value="Фамилия, Имя, Отчество">
                        <label for="form-input-1">ФИО Получателя</label>
                    </div>
                    <div class="form__error">Введен неверный или пустой e-mail</div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="phone" name="" id="form-input-2" placeholder=" " required>
                        <label for="form-input-2">Телефон получателя</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-3" placeholder=" " required>
                        <label for="form-input-3">Город доставки</label>
                    </div>
                </div>
                <div class="form__input form__input--group">
                    <div class="b-inputbox b-inputbox--radio form__input-group">
                        <input type="radio" name="deliv" id="deliv-1" checked>
                        <label class="inputbox__input" for="deliv-1"></label>
                        <label class="inputbox__label" for="deliv-1">Доставка по Смоленску</label>
                    </div>
                    <div class="b-inputbox b-inputbox--radio form__input-group">
                        <input type="radio" name="deliv" id="deliv-3">
                        <label class="inputbox__input" for="deliv-3"></label>
                        <label class="inputbox__label" for="deliv-3">Доставка в пригород</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-5" placeholder=" " required>
                        <label for="form-input-5">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input class="js-datepicker" type="text" name="" id="form-input-222" placeholder=" " autocomplete="none" required>
                        <label for="form-input-222" class="select__title">Дата доставки</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-select">
                        <select id="select-2" class="js-select">
                            <option data-placeholder="true"></option>
                            <option value="1">10:00</option>
                            <option value="2">11:00</option>
                            <option value="3">12:00</option>
                            <option value="4">13:00</option>
                        </select>
                        <label for="select-2" class="select__title">Время доставки</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-select">
                        <select id="select-3" class="js-select">
                            <option data-placeholder="true"></option>
                            <option value="1">Днюха бабули</option>
                            <option value="2">Днюха бабули</option>
                            <option value="3">Днюха бабули</option>
                            <option value="4">Днюха бабули</option>
                        </select>
                        <label for="select-3" class="select__title">Повод подарка</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__item">
            <div class="form__separator">
                <span>Добавить открытку?</span>
                <p>Это бесплатно</p>
            </div>
            <div class="form__inputs">
                <div class="form__input form__input--x2">
                    <div class="b-input">
                        <textarea name="" id="form-textarea-1" placeholder=" " required></textarea>
                        <label for="form-textarea-1">Текст открытки</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="postcard-1" id="postcard-1">
                        <label class="inputbox__input" for="postcard-1"></label>
                        <label class="inputbox__label" for="postcard-1">Сделать фото получателя в момент доставки?</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="postcard-2" id="postcard-2">
                        <label class="inputbox__input" for="postcard-2"></label>
                        <label class="inputbox__label" for="postcard-2">Доставка-сюрприз</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="postcard-3" id="postcard-3">
                        <label class="inputbox__input" for="postcard-3"></label>
                        <label class="inputbox__label" for="postcard-3">Анонимно</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="postcard-4" id="postcard-4">
                        <label class="inputbox__input" for="postcard-4"></label>
                        <label class="inputbox__label" for="postcard-4">Бесконтактная доставка</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__item">
            <div class="form__separator"><span>Доставка</span></div>
            <div class="form__inputs">
                <div class="form__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-11" placeholder=" " required value="email@email.email">
                        <label for="form-input-11">Электронная почта</label>
                    </div>
                    <div class="form__error">Введен неверный или пустой e-mail</div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="phone" name="" id="form-input-12" placeholder=" " required>
                        <label for="form-input-12">Телефон</label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-input">
                        <input type="text" name="" id="form-input-13" placeholder=" " required>
                        <label for="form-input-13">Ваше имя</label>
                    </div>
                </div>
                <div class="form__input form__input--group">
                    <div class="b-inputbox b-inputbox--radio form__input-group">
                        <input type="radio" name="contacts" id="contacts-1" checked>
                        <label class="inputbox__input" for="contacts-1"></label>
                        <label class="inputbox__label" for="contacts-1">Заказываю впервые</label>
                    </div>
                    <div class="b-inputbox b-inputbox--radio form__input-group">
                        <input type="radio" name="contacts" id="contacts-3">
                        <label class="inputbox__input" for="contacts-3"></label>
                        <label class="inputbox__label" for="contacts-3">Являюсь клиентом</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-input">
                        <textarea name="" id="form-textarea-2" placeholder=" " required></textarea>
                        <label for="form-textarea-2">Комментарий</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="contacts-11" id="contacts-11">
                        <label class="inputbox__input" for="contacts-11"></label>
                        <label class="inputbox__label" for="contacts-11">Я хочу получить обратный звонок от менеджера</label>
                    </div>
                </div>
                <div class="form__input form__input--x2">
                    <div class="b-inputbox b-inputbox--checkbox">
                        <input type="checkbox" name="contacts-12" id="contacts-12">
                        <label class="inputbox__input" for="contacts-12"></label>
                        <label class="inputbox__label" for="contacts-12">Получать напоминания о событиях и специальные скидки</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__item">
            <div class="form__separator"><span>Оплата</span></div>
            <div class="form__inputs">
                <div class="form__input">
                    <div class="b-inputbox b-inputbox--radio-card form__input-group">
                        <input type="radio" name="contacts" id="payment-1" checked>
                        <label class="inputbox__input" for="payment-1"></label>
                        <label class="inputbox__label" for="payment-1">
                            <img src="./img/icon-credit-card.svg" alt="">
                            <div class="inputbox__title"> Онлайн оплата картой <span>Переход на страницу оплаты</span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form__input">
                    <div class="b-inputbox b-inputbox--radio-card form__input-group">
                        <input type="radio" name="contacts" id="payment-2">
                        <label class="inputbox__input" for="payment-2"></label>
                        <label class="inputbox__label" for="payment-2">
                            <img src="./img/icon-package.svg" alt="">
                            <div class="inputbox__title"> Оплата при получении <span>Наличными или переводом курьеру</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>