<div class="catalog__item">
    <div class="catalog__pic">
        <a href="#">
            <picture>
                <source srcset='./img/catalog-pic.webp' type='image/webp'>
                <source srcset='./img/catalog-pic.png' type='image/png'>
                <img src='./img/catalog-pic.png' alt=''>
            </picture>
        </a>
    </div>
    <div class="catalog__content">
        <div class="catalog__prices">
            <div class="catalog__price"> 4 900 <span class="b-ruble-font">Р</span></div>
            <div class="catalog__oldprice"> 5 900 <span class="b-ruble-font">Р</span></div>
        </div>
        <div class="catalog__title"><a href="#">Весна #9 / Букет белых пионовидных тюльпанов 15 шт</a></div>
        <div class="catalog__btns">
            <div class="catalog__tocart">
                <button class="b-button">В корзину</button>
            </div>
            <div class="catalog__quickcart">
                <a href="#">Быстрая покупка</a>
            </div>
        </div>
    </div>
</div>
<div class="catalog__item">
    <div class="catalog__pic">
        <a href="#">
            <picture>
                <source srcset='./img/catalog-pic.webp' type='image/webp'>
                <source srcset='./img/catalog-pic.png' type='image/png'>
                <img src='./img/catalog-pic.png' alt=''>
            </picture>
        </a>
    </div>
    <div class="catalog__content">
        <div class="catalog__prices">
            <div class="catalog__price"> 4 900 <span class="b-ruble-font">Р</span></div>
            <div class="catalog__oldprice"> 5 900 <span class="b-ruble-font">Р</span></div>
        </div>
        <div class="catalog__title"><a href="#">Весна #25 / Микс тюльпанов 25 шт</a></div>
        <div class="catalog__btns">
            <div class="catalog__tocart">
                <button class="b-button">В корзину</button>
            </div>
            <div class="catalog__quickcart">
                <a href="#">Быстрая покупка</a>
            </div>
        </div>
    </div>
</div>