<div class="b-product-gallery">
    <div class="product-gallery__nav">
        <div class="swiper-container swiper-container--gallery-nav">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail-2.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail-2.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail-2.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail-2.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail-2.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail-2.jpg' alt=''>
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="product-gallery__main">
        <div class="swiper-container swiper-container--gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail-2.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail-2.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail-2.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail.jpg' alt=''>
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset='./img/catalog-pic-detail-2.webp' type='image/webp'>
                        <source srcset='./img/catalog-pic-detail-2.jpg' type='image/jpeg'>
                        <img src='./img/catalog-pic-detail-2.jpg' alt=''>
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>