<div class="contacts">
    <div class="contacts__items">
        <div class="contacts__item">
            <div class="contacts__title">Для связи</div>
            <p>
                <a href="tel:+79107859700">+7 (910) 785-97-00</a>
                <span>Whatsapp | Viber | Telegram</span>
            </p>
            <p>
                <a href="tel:+74812679700">67–97–00</a>
                <span>Городской</span>
            </p>
            <p>
                <a href="mailto:shopflorencia@yandex.ru">shopflorencia@yandex.ru</a>
            </p>
        </div>
        <div class="contacts__item">
            <div class="contacts__title">Время работы мастерской</div>
            <p>Ежедневно с 10:00 до 20:00 <span>(UTC/GMT +3 Moscow)</span></p>
        </div>
        <div class="contacts__item">
            <div class="contacts__title">Адрес</div>
            <p>214000 г. Смоленск ул. Глинки 2а</p>
        </div>
        <div class="contacts__item">
            <div class="contacts__title">МЫ в соцсетях</div>
            <div class="contacts__social">
                <a href="#"><img src="./img/yt.svg" alt=""></a>
                <a href="#"><img src="./img/whatsapp.svg" alt=""></a>
                <a href="#"><img src="./img/vk.svg" alt=""></a>
                <a href="#"><img src="./img/viber.svg" alt=""></a>
                <a href="#"><img src="./img/telegram.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>