<nav class="footer-menu">
    <div class="footer-menu__col">
        <div class="footer-menu__title js-footer-menu-title">Покупателям <ins></ins></div>
        <div class="footer-menu__items">
            <a href="#">Стоимость, сроки и зоны доставки</a>
            <a href="#">Способы оплаты</a>
            <a href="#">Гарантия качества</a>
            <a href="#">Возврат товаров</a>
            <a href="#">Договор оферты</a>
            <a href="#">Конфиденциальность</a>
            <a href="#">Безопасность</a>
            <a href="#">Корпоративное обслуживание</a>
            <a href="#">Подарочные сертификаты</a>
            <a href="#">Партнерская программа</a>
            <a href="#">Контакты</a>
            <a href="#">О нас</a>
        </div>
    </div>
    <div class="footer-menu__col">
        <div class="footer-menu__title js-footer-menu-title">Каталог <ins></ins></div>
        <div class="footer-menu__items">
            <a href="#">Букеты</a>
            <a href="#">Композиции</a>
            <a href="#">Монобукеты</a>
            <a href="#">Фруктовые/сладкие букеты </a>
            <a href="#">Букеты невесты</a>
            <a href="#">Мужские букеты</a>
        </div>
    </div>
</nav>