<nav class="menu js-menu hide-on-tablet hide-on-mobile">
    <ul class="menu__items">
        <li class="menu__item">
            <span class="js-menu-toggle"><ins></ins>Каталог</span>
            <ul class="menu__submenu">
                <li class="menu__haschild">
                    <span>
                        <a class="active" href="#">Букеты</a>
                        <ins></ins>
                    </span>
                    <ul class="menu__submenu-1">
                        <li>
                            <span>
                                <a href="#">Lorem</a>
                                <ins></ins>
                            </span>
                        </li>
                        <li class="menu__haschild" data-child="list-1-1">
                            <span>
                                <a href="#">ipsum</a>
                                <ins></ins>
                            </span>
                            <ul class="menu__submenu-2 list-1-1">
                                <li><span><a href="#">Букеты 1</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                            </ul>
                        </li>
                        <li class="menu__haschild" data-child="list-1-2">
                            <span>
                                <a href="#">dolor</a>
                                <ins></ins>
                            </span>
                            <ul class="menu__submenu-2 list-1-2">
                                <li><span><a href="#">Букеты 2</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                            </ul>
                        </li>
                        <li class="menu__haschild" data-child="list-1-3">
                            <span>
                                <a href="#">sit</a>
                                <ins></ins>
                            </span>
                            <ul class="menu__submenu-2 list-1-3">
                                <li><span><a href="#">Букеты 3</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                            </ul>
                        </li>
                        <li>
                            <span>
                                <a href="#">amet</a>
                                <ins></ins>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">consectetur</a>
                                <ins></ins>
                            </span>
                        </li>
                        <li class="menu__haschild" data-child="list-1-4">
                            <span>
                                <a href="#">adipisicing</a>
                                <ins></ins>
                            </span>
                            <ul class="menu__submenu-2 list-1-4">
                                <li><span><a href="#">Букеты 4</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                            </ul>
                        </li>
                        <li>
                            <span>
                                <a href="#">elit</a>
                                <ins></ins>
                            </span>
                        </li>
                        <li class="menu__haschild" data-child="list-1-5">
                            <span>
                                <a href="#">Harum</a>
                                <ins></ins>
                            </span>
                            <ul class="menu__submenu-2 list-1-5">
                                <li><span><a href="#">Букеты 5</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                                <li><span><a href="#">Букеты</a></span></li>
                            </ul>
                        </li>
                        <li>
                            <span>
                                <a href="#">culpa?</a>
                                <ins></ins>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="#">Композиции</a>
                        <ins></ins>
                    </span>
                </li>
                <li class="menu__haschild">
                    <span>
                        <a href="#">Монобукеты</a>
                        <ins></ins>
                    </span>
                    <ul class="menu__submenu-1">
                        <li><span><a href="#">Lorem</a><ins></ins></span></li>
                        <li><span><a href="#">ipsum</a><ins></ins></span></li>
                        <li><span><a href="#">dolor</a><ins></ins></span></li>
                        <li><span><a href="#">sit</a><ins></ins></span></li>
                        <li><span><a href="#">amet,</a><ins></ins></span></li>
                        <li><span><a href="#">consectetur</a><ins></ins></span></li>
                        <li><span><a href="#">adipisicing</a><ins></ins></span></li>
                        <li><span><a href="#">elit.</a><ins></ins></span></li>
                        <li><span><a href="#">Voluptatem</a><ins></ins></span></li>
                        <li><span><a href="#">dolorem</a><ins></ins></span></li>
                        <li><span><a href="#">consectetur</a><ins></ins></span></li>
                        <li><span><a href="#">facere</a><ins></ins></span></li>
                        <li><span><a href="#">assumenda</a><ins></ins></span></li>
                        <li><span><a href="#">cum</a><ins></ins></span></li>
                        <li><span><a href="#">odio?</a><ins></ins></span></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="#">Фруктовые/сладкие букеты </a>
                        <ins></ins>
                    </span>
                </li>
                <li class="menu__haschild">
                    <span>
                        <a href="#">Букеты невесты</a>
                        <ins></ins>
                    </span>
                    <ul class="menu__submenu-1">
                        <li><span><a href="#">Lorem</a><ins></ins></span></li>
                        <li><span><a href="#">ipsum</a><ins></ins></span></li>
                        <li><span><a href="#">dolor.</a><ins></ins></span></li>
                    </ul>
                </li>
                <li>
                    <span>
                        <a href="#">Мужские букеты</a>
                        <ins></ins>
                    </span>
                </li>
            </ul>
        </li>
        <li class="menu__item">
            <a href="#">Доставка</a>
        </li>
        <li class="menu__item">
            <a href="#">Оплата</a>
        </li>
        <li class="menu__item">
            <a href="#">Контакты</a>
        </li>
    </ul>
</nav>