<div class="main-minifilter">
    <div class="main-minifilter__items">
        <div class="main-minifilter__item"><a href="#">До 3000 <span class="b-ruble-font">Р</span></a></div>
        <div class="main-minifilter__item"><a href="#">3000 - 6 000 <span class="b-ruble-font">Р</span></a></div>
        <div class="main-minifilter__item active"><a href="#">3000 - 6 000 <span class="b-ruble-font">Р</span></a></div>
        <div class="main-minifilter__item"><a href="#">3000 - 6 000 <span class="b-ruble-font">Р</span></a></div>
    </div>
</div>