<div class="swiper-slide slider-main__item">
    <picture class="slider-main__pic">
        <source srcset='./img/slider-pic.webp' type='image/webp'>
        <source srcset='./img/slider-pic.png' type='image/png'>
        <img src='./img/slider-pic.png' alt=''>
    </picture>
    <div class="slider-main__content">
        <div class="slider-main__title" data-swiper-parallax-opacity="0" data-swiper-parallax="-500">Ваза в подарок до конца недели!</div>
        <p data-swiper-parallax-opacity="0" data-swiper-parallax="-300">При заказе букета Mono Juliet</p>
        <div class="slider-main__btn" data-swiper-parallax-opacity="0" data-swiper-parallax="-100"><a href="#" class="b-button b-button--mw250 b-button--big">Купить сейчас</a></div>
    </div>
</div>