<div class="map">
    <div class="map__map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae27ee8cb1b7359cdbcf808d213211b8950aad2e8c9016f210dd301c35da0f6d1&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="map__content">
        <div class="map__title">Доставка цветов в Смоленске</div>
        <p>Мастерская флористики и&nbsp;декора &laquo;Флоренция&raquo;&nbsp;&mdash; это море неординарных букетов и&nbsp;цветочных композиций из&nbsp;элитных сортов для вас и&nbsp;ваших близких. Курьер доставит благоухающий презент на&nbsp;дом или в&nbsp;офис в&nbsp;Смоленске абсолютно бесплатно.</p>
        <p><a href="#">Подробнее</a></p>
    </div>
</div>