<div class="modal-bg js-modal-quick-bg js-modal-hide-quick"></div>
<div class="modal js-modal-quick">
    <div class="modal__inner">
        <div class="modal__close js-modal-hide-quick"></div>
        <div class="modal__content">
            <div class="modal__title h2">Быстрая покупка</div>
            <p>Скоро наш специалист свяжется с вами для уточнения деталей заказа</p>
            <div class="b-form b-form--popup">
                <form>
                    <div class="form__item">
                        <div class="form__inputs">
                            <div class="form__input">
                                <div class="b-input">
                                    <input type="text" name="" id="form-input-1" placeholder=" " required value="Фамилия, Имя, Отчество">
                                    <label for="form-input-1">Ваше имя</label>
                                </div>
                            </div>
                            <div class="form__input">
                                <div class="b-input">
                                    <input type="phone" name="" id="form-input-2" placeholder=" " required>
                                    <label for="form-input-2">Ваш телефон</label>
                                </div>
                            </div>
                            <div class="form__input">
                                <button class="b-button b-button--big">Отправить</button>
                            </div>
                        </div>
                        <div class="form__agree"> Нажатием кнопки я принимаю условия <a href="#">Оферты</a> по использованию сайта и согласен с <a href="#">Политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>