<div class="news__item">
    <div class="news__pic">
        <a href="#">
            <picture>
                <source srcset="./img/sale-pic.webp" type="image/webp">
                <source srcset="./img/sale-pic.jpg" type="image/jpeg">
                <img src="./img/sale-pic.jpg" alt="">
            </picture>
        </a>
    </div>
    <div class="news__date">с 2 апреля до 5 мая</div>
    <div class="news__title"><a href="#">Товары выходного дня</a></div>
    <div class="news__content">
        <p>Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста</p>
    </div>
</div>
<div class="news__item">
    <div class="news__pic">
        <a href="#">
            <picture>
                <source srcset="./img/sale-pic.webp" type="image/webp">
                <source srcset="./img/sale-pic.jpg" type="image/jpeg">
                <img src="./img/sale-pic.jpg" alt="">
            </picture>
        </a>
    </div>
    <div class="news__date">с 2 апреля до 5 мая</div>
    <div class="news__title"><a href="#">Сюрпризы по специальной цене</a></div>
    <div class="news__content">
        <p>20% по сравнению с таким же букетом из каталога</p>
    </div>
</div>