<div class="news news--detail">
    <div class="news__inner">
        <h1>H1.отдельного упоминания заслужили аналогичные сервисы по генерации случайного контента</h1>
        <div class="news__date">5 мая 2022</div>
        <figure class="news__pic">
            <picture>
                <source srcset='./img/news-pic-big.webp' type='image/webp'>
                <source srcset='./img/news-pic-big.png' type='image/png'>
                <img src='./img/news-pic-big.png' alt=''>
            </picture>
            <figcaption>Подпись картинки</figcaption>
        </figure>
        <div class="news__content">
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <h2>H2.Текст-рыба на русском языке</h2>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <ul class="ul">
                <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, sit rerum id consectetur exercitationem delectus quia dolores ipsa quibusdam architecto.</li>
                <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
            </ul>
            <h3>h3. Нумерованный список</h3>
            <ol class="ol">
                <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
                <li>Рыбатекст используется дизайнерами когда нужно быстро заполнить макеты</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae molestias placeat totam, pariatur adipisci culpa quos ab.</li>
            </ol>
            <h2>H2.Текст-рыба на русском языке</h2>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <figure class="news__pic">
                <picture>
                    <source srcset='./img/news-pic-big.webp' type='image/webp'>
                    <source srcset='./img/news-pic-big.png' type='image/png'>
                    <img src='./img/news-pic-big.png' alt=''>
                </picture>
                <figcaption>Подпись картинки</figcaption>
            </figure>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
            <blockquote>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</blockquote>
            <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
        </div>
        <div class="news__share">
            <strong>Поделиться</strong>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-limit="5" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,skype,tumblr,evernote,linkedin,lj,blogger,delicious,digg,reddit,pocket,qzone,renren,sinaWeibo,surfingbird,tencentWeibo,messenger"></div>
        </div>
    </div>
</div>
//= ./news-list-mini