<div class="news news--list">
    <h2>Лучшие новости дня</h2>
    <div class="news__items">
        <div class="news__item">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset="./img/news-pic.webp" type="image/webp">
                        <source srcset="./img/news-pic.jpg" type="image/jpeg">
                        <img src="./img/news-pic.jpg" alt="">
                    </picture>
                </a>
            </div>
            <div class="news__date">5 мая 2022</div>
            <div class="news__title"><a href="#">Товары выходного дня</a></div>
            <div class="news__content">
                <p>Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста</p>
            </div>
        </div>
        <div class="news__item">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset="./img/news-pic.webp" type="image/webp">
                        <source srcset="./img/news-pic.jpg" type="image/jpeg">
                        <img src="./img/news-pic.jpg" alt="">
                    </picture>
                </a>
            </div>
            <div class="news__date">5 мая 2022</div>
            <div class="news__title"><a href="#">Это тестовый контент, который не должен нести никакого смысла</a></div>
            <div class="news__content">
                <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.</p>
            </div>
        </div>
        <div class="news__item">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset="./img/news-pic.webp" type="image/webp">
                        <source srcset="./img/news-pic.jpg" type="image/jpeg">
                        <img src="./img/news-pic.jpg" alt="">
                    </picture>
                </a>
            </div>
            <div class="news__date">5 мая 2022</div>
            <div class="news__title"><a href="#">Это тестовый контент, который не должен нести никакого смысла</a></div>
            <div class="news__content">
                <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.</p>
            </div>
        </div>
    </div>
</div>