<h2>Состав заказа</h2>
<div class="cart">
    <div class="cart__items">
        <div class="cart__item">
            <div class="cart__pic"><a href="#" target="_blank"><img src="./img/cart-pic.jpg" alt=""></a></div>
            <div class="cart__content">
                <div class="cart__price">1 500 ₽</div>
                <div class="cart__title"><a href="#" target="_blank">Весна #9 / Букет белых пионовидных тюльпанов 15 шт</a></div>
            </div>
        </div>
        <div class="cart__item">
            <div class="cart__pic"><a href="#" target="_blank"><img src="./img/cart-pic.jpg" alt=""></a></div>
            <div class="cart__content">
                <div class="cart__price">1 500 ₽</div>
                <div class="cart__title"><a href="#" target="_blank">Весна #9 / Букет белых пионовидных тюльпанов 15 шт</a></div>
            </div>
        </div>
    </div>
    <div class="cart__footer">
        <div class="cart__cost">
            <p><span>Скидка по промокоду</span><ins>-300 ₽</ins></p>
            <p><span>Сумма заказа</span><strong>4 900 ₽</strong></p>
            <div><a href="#" class="b-button b-button--big">оформить заказ</a></div>
            <div class="cart__message">Оформляя заказ, Вы соглашаетесь с условиями <a href="#">предоставления услуг</a></div>
        </div>
    </div>
</div>