<div class="reviews">
    <h2>отзывы покупателей</h2>
    <div class="reviews__cols">
        <div class="reviews__left">
            <div class="reviews__photos">
                <div class="reviews__photos-title">Фотографии покупателей</div>
                <div class="reviews__photos-items">
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                    <a data-fslightbox="review-gallery" href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                </div>
            </div>
            <!--  -->
            <div class="reviews__chat">
                <div class="reviews__chat-item">
                    <div class="reviews__chat-ava"><img src="./img/ava.jpg" alt=""></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Татьяна И</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                            <div class="reviews__chat-stars">
                                <div class="stars">
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Достоинства</strong>
                            <p>Заказывали на день рождение сюрпризом с речью- открыткой. Курьер с порога произнёс поздравление. Именинница была очарована. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Недостатки</strong>
                            <p>Время не то. Но лично руководитель звонил, извинялся, согласовывал время и отслеживать доставку. Приятно. Спасибо! </p>
                        </div>
                        <div class="reviews__photos">
                            <div class="reviews__photos-items">
                                <a data-fslightbox href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                                <a data-fslightbox href="./img/review-photo.jpg"><img src="./img/review-photo-preview.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="reviews__chat-helpful">
                            <strong>Вам помог этот отзыв?</strong>
                            <span class="b-button b-button--xsmall b-button--gray">Да <ins>0</ins></span>
                            <span class="b-button b-button--xsmall b-button--gray">Нет <ins>0</ins></span>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-answer">
                    <div class="reviews__chat-ava"><img src="./img/review-answer.svg" alt=""></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Флоренция</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                        </div>
                        <div class="reviews__chat-block">
                            <p>Добрый день, Татьяна!. Очень сожалеем, что Вам пришлось столкнуться с такими негативными эмоциями. В каждом сервисе происходят ошибки, ещё раз примите извинения, такие недоразумения будут исключены.</p>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-item">
                    <div class="reviews__chat-ava"></div>
                    <div class="reviews__chat-content">
                        <div class="reviews__chat-top">
                            <div class="reviews__chat-name">Татьяна И</div>
                            <div class="reviews__chat-date">7 апреля 2022</div>
                            <div class="reviews__chat-stars">
                                <div class="stars">
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--full"></div>
                                    <div class="stars__star stars__star--half"></div>
                                    <div class="stars__star stars__star--empty"></div>
                                    <div class="stars__star stars__star--empty"></div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Достоинства</strong>
                            <p>Заказывали на день рождение сюрпризом с речью- открыткой. Курьер с порога произнёс поздравление. Именинница была очарована. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-block">
                            <strong>Недостатки</strong>
                            <p>Время не то. Но лично руководитель звонил, извинялся, согласовывал время и отслеживать доставку. Приятно. Спасибо! </p>
                        </div>
                        <div class="reviews__chat-helpful">
                            <strong>Вам помог этот отзыв?</strong>
                            <span class="b-button b-button--xsmall b-button--gray">Да <ins>0</ins></span>
                            <span class="b-button b-button--xsmall b-button--gray">Нет <ins>0</ins></span>
                        </div>
                    </div>
                </div>
                <div class="reviews__chat-btn"><a href="#" class="b-button b-button--gray">Показать больше отзывов</a></div>
            </div>
        </div>
        <div class="reviews__right">
            <div class="reviews__rating">
                <div class="reviews__rating-count">4.9</div>
                <div class="reviews__rating-content">
                    <span>На основании 82 отзывов</span>
                    <div class="stars">
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                        <div class="stars__star stars__star--full"></div>
                    </div>
                </div>
            </div>
            <div class="reviews__bars">
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">5 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 93%;"></span></div>
                    <div class="reviews__bars-count">45</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">4 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 13%;"></span></div>
                    <div class="reviews__bars-count">5</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">3 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 10%;"></span></div>
                    <div class="reviews__bars-count">4</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">2 звезд</div>
                    <div class="reviews__bars-bar"><span></span></div>
                    <div class="reviews__bars-count">0</div>
                </div>
                <div class="reviews__bars-item">
                    <div class="reviews__bars-title">1 звезд</div>
                    <div class="reviews__bars-bar"><span style="width: 3%;"></span></div>
                    <div class="reviews__bars-count">1</div>
                </div>
            </div>
            <div class="reviews__btn">
                <a href="#" class="b-button b-button--big">Написать отзыв</a>
            </div>
        </div>
    </div>
</div>