<div class="news news--sale-detail">
    <div class="news__pic">
        <picture>
            <source srcset='./img/sale-pic-big.webp' type='image/webp'>
            <source srcset='./img/sale-pic-big.png' type='image/png'>
            <img src='./img/sale-pic-big.png' alt=''>
        </picture>
    </div>
    <div class="news__content">
        <div class="news__date">с 2 апреля до 5 мая</div>
        <h1>ДТекст-рыба на русском языке</h1>
        <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
        <p><a href="#">Подробнее</a></p>
    </div>
    <div class="news__catalog">
        //= ./catalog-list-mini.html
    </div>
</div>