<div class="sidebar__menu">
    <div class="sidebar__menu-item">
        <span class="js-menu-collapse">Каталог<ins></ins></span>
        <div class="sidebar__menu-submenu">
            <a href="#">Букеты</a>
            <a href="#">Композиции</a>
            <a class="active" href="#">Монобукеты</a>
            <a href="#">Фруктовые/сладкие букеты </a>
            <a href="#">Букеты невесты</a>
            <a href="#">Мужские букеты</a>
        </div>
    </div>
    <div class="sidebar__menu-item">
        <span class="js-menu-collapse">Покупателям<ins></ins></span>
        <div class="sidebar__menu-submenu">
            <a href="#">Стоимость, сроки и зоны доставки</a>
            <a href="#">Способы оплаты</a>
            <a href="#">Гарантия качества</a>
            <a href="#">Возврат товаров</a>
            <a href="#">Договор оферты</a>
            <a href="#">Конфиденциальность</a>
            <a href="#">Безопасность</a>
            <a href="#">Корпоративное обслуживание</a>
            <a href="#">Подарочные сертификаты</a>
            <a href="#">Партнерская программа</a>
            <a href="#">Контакты</a>
            <a href="#">О нас</a>
        </div>
    </div>
    <div class="sidebar__menu-item"><a href="#">Ссылка куда то</a></div>
</div>