<div class="sidebar__menu">
        <div class="sidebar__menu-item">
            <span class="js-menu-collapse">Каталог<ins></ins></span>
            <div class="sidebar__menu-submenu">
                <a href="#">Букеты</a>
                <a href="#">Композиции</a>
                <a class="active" href="#">Монобукеты</a>
                <a href="#">Фруктовые/сладкие букеты </a>
                <a href="#">Букеты невесты</a>
                <a href="#">Мужские букеты</a>
            </div>
        </div>
        <div class="sidebar__menu-item">
            <span class="js-menu-collapse">Покупателям<ins></ins></span>
            <div class="sidebar__menu-submenu">
                <a href="#">Доставка</a>
                <a href="#">Оплата</a>
                <a href="#">Контакты</a>
            </div>
        </div>
        <div class="sidebar__menu-item"><a href="#">Ссылка куда то</a></div>
</div>