<div class="sidebar__menu">
    <div class="sidebar__menu-item">
        <span class="js-menu-collapse">Каталог<ins></ins></span>
        <ul class="sidebar__menu-submenu">
            <li class="sidebar__menu-haschild">
                <span>
                    <a href="#">Букеты</a>
                    <ins class="js-menu-sidebartoggle"></ins>
                </span>
                <ul class="sidebar__menu-submenu-1">
                    <li>
                        <span>
                            <a href="#">Lorem</a>
                            <ins></ins>
                        </span>
                    </li>
                    <li class="sidebar__menu-haschild">
                        <span>
                            <a href="#">ipsum</a>
                            <ins class="js-menu-sidebartoggle"></ins>
                        </span>
                        <ul class="sidebar__menu-submenu-2">
                            <li><span><a href="#">Букеты 1</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                        </ul>
                    </li>
                    <li class="sidebar__menu-haschild">
                        <span>
                            <a href="#">dolor</a>
                            <ins class="js-menu-sidebartoggle"></ins>
                        </span>
                        <ul class="sidebar__menu-submenu-2">
                            <li><span><a href="#">Букеты 2</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                        </ul>
                    </li>
                    <li class="sidebar__menu-haschild">
                        <span>
                            <a href="#">sit</a>
                            <ins class="js-menu-sidebartoggle"></ins>
                        </span>
                        <ul class="sidebar__menu-submenu-2">
                            <li><span><a href="#">Букеты 3</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">amet</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a href="#">consectetur</a>
                        </span>
                    </li>
                    <li class="sidebar__menu-haschild">
                        <span>
                            <a href="#">adipisicing</a>
                            <ins class="js-menu-sidebartoggle"></ins>
                        </span>
                        <ul class="sidebar__menu-submenu-2">
                            <li><span><a href="#">Букеты 4</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">elit</a>
                        </span>
                    </li>
                    <li class="sidebar__menu-haschild">
                        <span>
                            <a href="#">Harum</a>
                            <ins class="js-menu-sidebartoggle"></ins>
                        </span>
                        <ul class="sidebar__menu-submenu-2">
                            <li><span><a href="#">Букеты 5</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                            <li><span><a href="#">Букеты</a></span></li>
                        </ul>
                    </li>
                    <li>
                        <span>
                            <a href="#">culpa?</a>
                        </span>
                    </li>
                </ul>
            </li>
            <li>
                <span>
                    <a href="#">Композиции</a>
                </span>
            </li>
            <li>
                <span>
                    <a class="active" href="#">Монобукеты</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="#">Фруктовые/сладкие букеты </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="#">Букеты невесты</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="#">Мужские букеты</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="sidebar__menu-item">
        <span class="js-menu-collapse">Покупателям<ins></ins></span>
        <ul class="sidebar__menu-submenu">
            <li><span><a href="#">Стоимость, сроки и зоны доставки</a></span></li>
            <li><span><a href="#">Способы оплаты</a></span></li>
            <li><span><a href="#">Гарантия качества</a></span></li>
            <li><span><a href="#">Возврат товаров</a></span></li>
            <li><span><a href="#">Договор оферты</a></span></li>
            <li><span><a href="#">Конфиденциальность</a></span></li>
            <li><span><a href="#">Безопасность</a></span></li>
            <li><span><a href="#">Корпоративное обслуживание</a></span></li>
            <li><span><a href="#">Подарочные сертификаты</a></span></li>
            <li><span><a href="#">Партнерская программа</a></span></li>
            <li><span><a href="#">Контакты</a></span></li>
            <li><span><a href="#">О нас</a></span></li>
        <ul/>
    </div>
    <div class="sidebar__menu-item"><a href="#">Ссылка куда то</a></div>
</div>