<div class="subscrie-form">
    <div class="subscrie-form__content">
        <div class="subscrie-form__title">Будьте в курсе</div>
        <p>Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми</p>
        <form class="subscrie-form__form">
            <input type="email" placeholder="Email">
            <button class="b-button"><span class="hide-on-mobile">Подписаться</span><img class="hide-on-tablet hide-on-desktop" src="./img/mail.svg" alt=""></button>
        </form>
    </div>
</div>