$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Inter', sans-serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-ruble: 'alsrubl', sans-serif;

$color-font: #292d32;
$color-font-10p: rgba(41, 45, 50, 0.1);
$color-font-50p: rgba(41, 45, 50, 0.5);
$color-font-gray: #9fa3a7;
$color-black: #000000;
$color-gray-dark: #292d32;
$color-gray-dark-10p: rgba(41, 45, 51, 0.1);
$color-green: #80b540;
$color-green-h: #82cd28;
$color-green-a: #709e38;
$color-lightgreen: rgba(47, 168, 79, 0.1);
$color-white: #ffffff;
$color-gray: #d9d9d9;
$color-gray2: #c6cacc;
$color-gray3: #f8f9fb;
$color-lightgray: #f7f9fa;
$color-lightgray2: #f8f8f8;
$color-lightgray3: #eaeaeb;
$color-lightgray4: #d9dadc;
$color-lightgray5: #fafafa;
$color-red: #ea3d2f;

