.l-wrap {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}
/*----------*/
.l-header {
    margin: auto;
    max-width: 142rem;
    width: 100%;
}
/*----------*/
.l-content {
    flex: 1 auto;

    .content__wrap {
        margin: auto;
        max-width: 142rem;
        width: 100%;
    }
    .content__title {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;

        span {
            padding-left: 0.5rem;
            font-family: $font-family-oswald;
            font-weight: 500;
            font-size: 1.4rem;
            color: $color-font-gray;
        }
    }
}
/*----------*/
.l-footer {
}
/*----------*/
